[Desktop Entry]
Encoding=UTF-8
Name=Link to An Intro to Git and GitHub for Beginners (Tutorial)
Type=Link
URL=https://product.hubspot.com/blog/git-and-github-tutorial-for-beginners
Icon=text-html
