[Desktop Entry]
Encoding=UTF-8
Name=Link to Git - Installing Git
Type=Link
URL=https://git-scm.com/book/en/v2/Getting-Started-Installing-Git
Icon=text-html
