[Desktop Entry]
Encoding=UTF-8
Name=Link to git diff - Comparing two branches in Git? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/9834689/comparing-two-branches-in-git
Icon=text-html
