[Desktop Entry]
Encoding=UTF-8
Name=Link to How to read the output from git diff? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/2529441/how-to-read-the-output-from-git-diff
Icon=text-html
Name[en_US]=Link to How to read the output from git diff - Stack Overflow [STUDY THIS MORE LATER!]
